<div class="header">
  <div class="navigation">
    <div class="nav--left">
      <a href="{{ siteUrl }}" title="Visit Keiser.com" class='nav--logo-wrapper'>
        <div class="nav--logo">Keiser</div>
      </a>
      <ul class="primary-nav">
        <li class="toggleNav"><button>Menu</button></li>
        <li class="segment"><a href="#ultimate" class="page" data-show="section--ultimate">Ultimate Indoor Bike</a></li>

        <li class="segment">
          <a href="#v-shape-frame" class="page" data-show="1" data-slide="1">V-Shape Frame</a>
          <ul class="nested">
            <li><a href="#" data-slide="2">Industry First</a></li>
            <li><a href="#" data-slide="3">Matches All Riders</a></li>
          </ul>
        </li>
        <li class="segment">
          <a href="#rear-wheel-design" data-slide="4">Rear-wheel Design</a>
          <ul class="nested">
            <li><a href="#" data-slide="5">Industry First</a></li>
            <li><a href="#" data-slide="6">Drive-Train Protection</a></li>
          </ul>
        </li>
        <li class="segment">
          <a href="#magnetic-resistance" data-slide="7">Magnetic Resistance</a>
          <ul class="nested">
            <li><a href="#" data-slide="8">Quality Control</a></li>
            <li><a href="#" data-slide="9">TÜV EN957-10 Certification</a></li>
            <li><a href="#" data-slide="10">Immediate Ride Data</a></li>
          </ul>
        </li>
        <li class="segment">
          <a href="#drive-train" data-slide="11">Drive-train</a>
          <ul class="nested">
            <li><a href="#" data-slide="12">Drive-Train Design</a></li>
            <li><a href="#" data-slide="13">Maintenance-Free</a></li>
            <li><a href="#" data-slide="14">Automotive Quality</a></li>
          </ul>
        </li>
        <li class="segment">
          <a href="#q-factor" data-slide="15">Q Factor</a>
          <ul class="nested">
            <li><a href="#" data-slide="16">Curved Crank Arms</a></li>
          </ul>
        </li>
        <li class="segment">
          <a href="#the-pedals" data-slide="17">The Pedals</a>
          <ul class="nested">
            <li><a href="#" data-slide="18">For SPD Riders</a></li>
          </ul>
        </li>
        <li class="segment">
          <a href="#the-digital-system" data-slide="19">The Digital System</a>
          <ul class="nested">
            <li><a href="#" data-slide="20">Computer Display</a></li>
            <li><a href="#" data-slide="21">M Series App</a></li>
            <li><a href="#" data-slide="22">M Series Group App</a></li>
          </ul>
        </li>
        <li class="segment">
          <a href="#the-details" data-slide="23">The Details</a>
          <ul class="nested details">
            <li><a href="#" data-target="details-2">Simple Maintenance</a></li>
            <li><a href="#" data-target="details-3">Media Tray</a></li>
            <li><a href="#" data-target="details-4">Shifter</a></li>
            <li><a href="#" data-target="details-5">Water Bottle Holder</a></li>
            <li><a href="#" data-target="details-6">Handlebars</a></li>
            <li><a href="#" data-target="details-7">Easy Adjustments</a></li>
            <li><a href="#" data-target="details-8">Stretch Pad</a></li>
            <li><a href="#" data-target="details-9">Leveler</a></li>
            <li><a href="#" data-target="details-10">Easy Transport</a></li>
          </ul>
        </li>
        <li class="segment"><a href="#reviews" class="page" data-show="section--reviews">Reviews</a></li>

        <li class="utility--heading">Beyond the bike:</li>

        <li class="utility"><a href="#smart-display" class="page" data-show="section--smartdisplay">SMART DISPLAY ENABLED</a></li>
        <li class="utility"><a href="#education" class="page" data-show="section--education">Keiser Education</a></li>
        <li class="utility web-only"><a href="#videos" class="page" data-show="section--videos">Videos</a></li>
      </ul>
    </div>
  </div>
  <div class="header--wrapper">
    <div class="header--title">M3i <span>Indoor Bike</span></div>
    <div class="header--buttons web-only">
      <button class="m3i-button commercialSalesModal" v-on:click="[openModal('contactUs__commercialSales', 'M3i INDOOR BIKE'),trackFormAnchor('Contact Us (Sales)', 'm3iPage')]">Get a Commercial Quote</button>
      <a href="{{ url('shop/cardio-equipment/m3i-indoor-bike') }}" target="_blank" class="m3i-button button">Shop for Home</a>
    </div>
  </div>
  <div id="js--noticeWindowWidth">
    <p>For an ideal browsing experience, please maximize your browser window.</p>
    <button class="button--quaternary js--close-windowWidthNotice">OK</button>
  </div>
</div>
