<div class="{{ class }}">

    <div>

        {% if attribute(cart, name~'Id') %}
            {% set addressHasErrors = attribute(cart, name).hasErrors() %}
        {% else %}
            {% set addressHasErrors = false %}
        {% endif %}

        <div>
            {% if addressHasErrors %}<div class="flash margin--bottom--half">{{ cart.getErrors(name)|join }}</div>{% endif %}
            {% include '/checkout/addresses/_form' with {
            'modelName': name,
            'address': address,
            'required': required
            } %}

        </div>
    </div>
</div>
