<div class="background--red" id="siteWidePromotion">
  <div class="container container--noPad">
    <div class="row">
      <div class="l--small--12 columns margin--bottom--none padding--top--narrow text--alignCenter">
        <div class="text--alignCenter text--large text--bold margin--bottom--thin">
          {{ banner.siteWidePromotionTitleMobile }}
        </div>
        <div class="text--alignCenter text--base margin--bottom--thin">
          {{ banner.siteWidePromotionSubheaderMobile }}
        </div>
        <div class="text--alignCenter text--small padding--bottom--narrow">
          {{ banner.siteWidePromotionDescriptionMobile }}
        </div>
      </div>
    </div>
  </div>
</div>
