<header class="siteHeader--checkout">
  <div class="container container--xTight">
    <div class="siteHeader__logo--small">
      <a href="{{ siteUrl }}">
        <img src="/assets/images/uk-flag.svg" alt="UK" class="logo__image__flag">
        <img src="/assets/images/keiser-logo.svg" alt="Keiser" class="logo__image">
      </a>
    </div>
  </div>
</header>
