<!-- Demo Van Hero -->
<div class="background--black demoVan__heroPart1">
  <div class="container">

    <div class="titleBlock">
      <h3 class="titleBlock__title text--uppercase">The Keiser Advantage</h3>
      <h1 class="titleBlock__subTitle">Try it and decide for&nbsp;yourself</h1>
    </div>

  </div>
</div>

<div class="container  container--noPadBottom demoVan__heroPart2">
  <div class="row">

    <div class="l--small--6 columns demoVan__heroPart2__imageContainer">

      <figure class="demoVan__heroPart2__imageContainer__demoVanImage">
        <img src="/assets/images/van-launch/van-page-module@2x.png">
      </figure>

      <figure class="demoVan__heroPart2__imageContainer__safetyImage">
        <div>
          <img src="/assets/images/demo-van/safety-top-priority-covid19.png">
          <figcaption class="text--small text--alignCenter">
            <p class="margin--bottom--none">Safety is our priority</p>
          </figcaption>
        </div>
      </figure>

    </div>

    <div class="l--small--6 l--medium--offset--1 l--medium--5 columns">
      <div class="demoVan__downPointedCallout">
        <h2 class="text--xLarge text--uppercase text--grey--light margin--bottom--none demoVan__downPointedCallout__subtitle">Try 6 Machines</h2>
        <h2 class="text--xLarge text--uppercase text--white demoVan__downPointedCallout__title">Anywhere you like</h2>
        <p class="margin--bottom--none text--white">
          Keiser's <strong>Mobile Showrooms</strong> let you try our <strong>strength, functional, and cardio lines</strong>
          in the location most convenient for you.
        </p>
      </div>
      <a class="button button--fullWidth" href="#demo-van-lead-form" id="demoVan__topSubmit">Ask About a Demo</a>
    </div>

  </div>
</div>
<!-- End Demo Van Hero -->
