<div class="background--black">
  <div class="container padding--top--none padding--bottom--none is--hidden is--visible--medium">
    <div class="row">

      <div class="l--medium--2 columns background--red textCenter newJumpLink newJumpLink__jumpTo margin--bottom--none">
        <a class="link--disableClick text--white"><strong>JUMP TO:</strong></a>
      </div>

      <div class="l--medium--10 columns background--black textCenter newJumpLink newJumpLink__container margin--bottom--none" style="display: flex;">

        <div class="textCenter newJumpLink__item">
          <a class="text--white" href="#productSpecsAndFeatures"><strong>FEATURES AND SPECIFICATIONS</strong></a>
        </div>

        <div class="textCenter newJumpLink__item">
          <a class="text--white" href="#productReviews"><strong>PRODUCT REVIEWS</strong></a>
        </div>

        <div class="textCenter newJumpLink__item">
          <a class="text--white" href="#productFAQContainerTitle"><strong>FAQs</strong></a>
        </div>

        <div class="textCenter newJumpLink__item">
          <a class="text--white" href="#suggestedAccessoriesContainer"><strong>AVAILABLE ACCESSORIES</strong></a>
        </div>

        <div class="textCenter newJumpLink__item">
          <a href="#ctaBanner">
            <strong>
              <span class="text--red">KEISER M3i</span>
              <span class="text--white">VIRTUAL</span>
              <span class="text--greyxLight-alt">EXPERIENCE</span>
            </strong>
          </a>
        </div>

      </div>

    </div>
  </div>
</div>
