<div class="l--extraSmall--12 columns">
  <h3 class="margin--bottom--narrow">{{ feature.title }}</h3>
  <div class="productFeature__copy">{{ craft.keiserCommerceHelpers.parseShippingLeadTime(feature.body|raw, product)|raw|parseRefs }}</div>
</div>
