<div class="background--lightGrey quantity" {{ variant.maxQty ? "data-max-qty=#{variant.maxQty}" : "" }} id="quantity{{ variant.productId }}">
  <?xml version="1.0" encoding="iso-8859-1"?>
  <svg class="quantity__subtract" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve">
    <rect y="19" width="42" height="4" fill="#939697"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
  </svg>
  &nbsp;&nbsp;<span class="text--large quantity__counter" for="qty{{ variant.productId }}">1</span>&nbsp;&nbsp;
  <?xml version="1.0" encoding="iso-8859-1"?>
  <svg class="quantity__add" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve">
    <polygon points="42,19 23,19 23,0 19,0 19,19 0,19 0,23 19,23 19,42 23,42 23,23 42,23 " fill="#939697"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
  </svg>
</div>
