<vue-modal :active-modal="activeModal" name="shippingOptionsModal" class="contactUs__modal" v-cloak id="shippingOptionsModal">
  <div slot="header">
    <div class="container container--noPad">
      <div class="row">
        <div class="l--extraSmall--10 columns margin--bottom--none">
          <h4>Shipping Options</h4>
        </div>
        <div class="l--extraSmall--2 columns text--alignRight margin--bottom--half">
          <div id="modal-close-button" class="text--alignRight" v-on:click="closeModal('shippingOptionsModal')"><img src="/assets/images/modal-close-button.png" /> </div>
        </div>
      </div>
    </div>
  </div>
  <div slot="body">
    <div class="container container--noPad margin--top">
      <div class="row">
        <div class="l--medium--12 columns">
          <h2 class="text--red">Standard Freight Shipping</h2>
          <ul class="margin--top">
            <li>Free Shipping to Continental US</li>
            <li>Discounted shipping to Canada, Alaska & Hawaii</li>
            <li>Standard shipping does not include delivery scheduling, room of choice placement, installation, or removal of debris</li>
          </ul>
          <p class="margin--top margin--bottom--half">Note:</p>
          <ol>
            <li>All Accessories & Promotional Items ship free in a separate shipment</li>
            <li>Shipping to APO/FPO addresses not available at this time</li>
            <li>If you have any questions regarding shipping, you can view our FAQ <a href="https://www.keiser.com/pages/shipping-faqs" target="_blank">here</a></li>
          </ol>
        </div>
      </div>
      <div class="l--medium--6 columns">
        <button class="text--uppercase text--alignCenter" v-on:click="closeModal('shippingOptionsModal')">{{ closeModalCTA }}</button>
      </div>
    </div>
  </div>
  <div slot="footer"></div>
</vue-modal>
