<header class="landingHeader background--black ihrsaNewCatalog__landingHeader">
  <div class="container container--full container--tight">
    <div class="row">
      <div class="l--small--3 columns columns--noMargin">
        <div itemscope itemtype="http://schema.org/Organization" class="logo">
          <a href="http://keiser.com" itemprop="url" class="logo__link">
            <img src="/assets/images/keiser-logo.svg" itemprop="logo" alt="Keiser" class="logo__image">
          </a>
        </div>
      </div>
      <div class="l--small--9 columns columns--noMargin">
        <h1 class="landingHeader__title">{{ customTitle }}</h1>
      </div>
    </div>
  </div>
</header>
