<div class="background--black">
  <div class="container">
    <h1 class="text--alignCenter margin--bottom--none">{{ entry.title }}</h1>
  </div>
</div>

<div class="container">
  {{ entry.body }}
</div>
