<div class="footer__sectionLinks northAmericaFooterItems">
  <span class="scale--base">
    KEISER UK
  </span>
    <ul class="list--tight">
        <li>
            <a id="footerShopLink" href="/shop">
                Shop
            </a>
        </li>
        <li>
            <a id="footerDemoLink" href="/demo">
                Mobile Showroom
            </a>
        </li>
    </ul>
</div>