<!-- Keiser Integrated Technology -->
<div class="container container--noPad demoVan__keiserIntegratedTechnology">
  <div class="row">

    <div class="l--medium--6 l--medium--push--6 columns demoVan__keiserIntegratedTechnology__imageContainer">
      <figure>
        <img src="/assets/images/demo-van/keiser-integrated-technology-components.png" alt="Keiser Integrated Technology">
      </figure>
    </div>

    <div class="l--medium--6 l--medium--pull--6 columns demoVan__keiserIntegratedTechnology__description">
      <img class="demoVan__vanBullet" src="/assets/images/van-launch/van-page-module@2x.png">
      <div class="titleBlock">
        <h3 class="titleBlock__title text--uppercase demoVan__greyTitle">Get A Guided Tour Of</h3>
        <h2 class="titleBlock__subTitle">Keiser Integrated Technology</h2>
        <p>
          We’ll explain how Keiser Integrated Technology connects Keiser machines with trainers, third-party content,
          and to the end user with the ease and convenience you expect from today’s technology.
        </p>
      </div>
    </div>

  </div>
</div>
<!-- End Keiser Integrated Technology -->
