<!-- Keiser Vs Status Quo -->
<div class="container container--noPad demoVan__keiserVsStatusQuo">
  <div class="row">

    <div class="l--medium--6 columns demoVan__keiserVsStatusQuo__description">
      <img class="demoVan__vanBullet" src="/assets/images/van-launch/van-page-module@2x.png">
      <div class="titleBlock">
        <h3 class="titleBlock__title text--uppercase demoVan__greyTitle">See Why Keiser&nbsp;Is</h3>
        <h2 class="titleBlock__subTitle">The Most Versatile You Can&nbsp;Buy</h2>
        <p class="margin--bottom--none">
          Keiser’s variable resistance is better. It’s safer. It’s more  effective. And users can <strong>train in five
            different modalities — not just one</strong> as with a traditional weight stack machine. This versatility
          makes Keiser an essential training tool you won’t want to do&nbsp;without.
        </p>
        <p class="margin--top--narrow margin--bottom--none">But don’t take our word for it. Try it for&nbsp;yourself.</p>
      </div>
    </div>

    <div class="l--medium--6 columns">
      <figure class="text--alignCenter">
        <img src="/assets/images/demo-van/keiser-vs-status-quo-comparison.png" alt="Keiser vs Status Quo">
      </figure>
    </div>

  </div>
</div>
<!-- End Keiser Vs Status Quo -->
