<!-- Lead Form -->
<div class="container container--noPadBottom demoVan__leadForm">
  <div class="row">
    <div class="l--medium--12 columns text--alignCenter">
      <h2 class="text--xXLarge margin--bottom--none">We can stop by <span class="text--red">any location</span></h2>
      <h2 class="text--xXLarge margin--bottom">in the U.S And Canada</h2>

      <img class="margin--bottom" src="/assets/images/demo-van/demo-van-sales-team-photo.jpg">

      <div class="row" id="demo-van-lead-form">
        <div class="l--small--offset--2 l--small--8 l--medium--offset--3 l--medium--5 columns">

          <h3 class="text--xLarge">Just ask</h3>

          <div class="text--alignLeft">
            <p>
              We have a fleet of <strong>12 Mobile Showrooms that travel the U.S. and Canada</strong> because our equipment is best
              understood when you try it for yourself.
            </p>

            {% set form = craft.sproutForms.form('demoBrochure') %}
            <form method="post" action="/forms/demoBrochure" accept-charset="UTF-8" enctype="multipart/form-data" id="demoVan__form">
              <input type="hidden" name="action" value="sprout-forms/entries/save-entry">
              <input type="hidden" name="handle" value="demoBrochure">
              {{ redirectInput('/demo/thank-you') }}
              <input type="hidden" name="fields[zipCode]" value="">
              <input type="hidden" name="fields[countryISO]" value="">
              <input type="hidden" name="fields[countryName]" value="">
              <input type="hidden" name="fields[marketingOptIn]" value="">
              <input type="hidden" name="fields[sendToSugarCRM1]" value="true">

              {{ craft.sproutForms.displayField(form, form.getField('geoLocation')) }}
              {{ craft.blitz.csrfInput() }}
              {% hook 'sproutForms.modifyForm' %}
              <div class="l--medium--12 columns margin--bottom--none is--hidden contactUs__modal__errorContainer">
                <p class="margin--bottom--half">All fields are required</p>
              </div>

              <div id="fields-fullName-field" class="field singleline fullName-field required demoVan__leadForm__field">
                <div class="heading">
                  <label for="fields-fullName">Name</label>
                </div>
                <div class="input">
                  <input type="text" name="fields[fullName]" id="fields-fullName" class="fullName" required="" aria-required="true">
                </div>
              </div>

              <div id="fields-email-field" class="field email email-field required demoVan__leadForm__field">
                <div class="heading">
                  <label for="fields-email">Email</label>
                </div>
                <div class="input">
                  <input type="email" autocomplete="email" name="fields[email]" id="fields-email" class="email" required="" aria-required="true">
                </div>
              </div>

              <div>
                <a class="button button--fullWidth" id="demoVan__form__submit" v-on:click="validateDemoVanRequest('form')">Ask About a Demo</a>
              </div>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Lead Form -->
