<!-- The Warrior -->
<div class="container container--noPad demoVan__theWarrior">
  <div class="row">

    <div class="l--medium--6 columns">
      <figure>
        <figcaption>
          <strong>
            <p class="margin--bottom--none">
              and <br>
              The&nbsp;Warrior
            </p>
          </strong>
        </figcaption>
        <img src="/assets/images/demo-van/the-warrior.png" alt="And The Warrior">
      </figure>
    </div>

    <div class="l--medium--6 columns demoVan__theWarrior__description">
      <div class="titleBlock">
        <h3 class="titleBlock__title text--uppercase demoVan__greyTitle">Keiser Vs Traditional&nbsp;Iron</h3>
        <h2 class="titleBlock__subTitle">Feel the difference side by&nbsp;side</h2>
        <p>
          We built “The Warrior” so you can feel the difference between Keiser’s variable resistance and traditional&nbsp;iron.
        </p>
      </div>
    </div>

  </div>
</div>
<!-- End The Warrior -->
