<div class="background--darkGrey">
  <div class="container container--noPadTop">
    <div class="row">
      <div class="l--medium--6 columns" id="supportOptionsContainer__top">
        {% include 'support/shared/_agentSupportChannels' %}
      </div>
    </div>
  </div>
</div>