// -----------------------------------------------------------------------------
// Table of Contents
//
// - General
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- General
// -----------------------------------------------------------------------------

$html: (
  fontSize: 16px
);

$body: (
  color: $black,
  font: $sansSerif,
  bg: $white
);
