// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Grid
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Grid
// -----------------------------------------------------------------------------

$grid: (
  columns: 12,
  margin: $gutter--half
);
