{% extends "_layout" %}
{% set title = "404" %}

{% block seo %}
  {% set title = "Error 404 (Not Found) | Keiser" %}
  <title>{{ title }}</title>
  <meta content="{{ title }}" name="DC.title"/>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="l--small--12 columns">
        <div class="noticeFull margin--bottom">
          <h2>Oh, Sorry. We couldn't find that page.</h2>
          <p>
            Don't worry, it's not your fault. Sometimes things get mixed up. Let us help you find what you're looking for.
        </div>


        {% set entry = craft.entries.section(['homepage']).one() %}

        {% include "shared/_industries-block.html" %}

      </div>

    </div>
  </div>

{% endblock %}
