{% extends "_layout" %}

{% block content %}
{% cache %}
  {% include 'demo-van/shared/_sticky-button' %}

  <div class="demoVan">

    {% include 'demo-van/shared/_hero' %}

    {% include 'demo-van/shared/_product-display' %}

    {% include 'demo-van/shared/_the-warrior' %}

    {% include 'demo-van/shared/_lead-form' %}

    {% include 'demo-van/shared/_demoVanModal' %}

  </div>
{% endcache %}
{% endblock %}
