<div class="background--black blog__hero">
    <div class="container container--tight">
        <div class="row">
            <div class="l--extraSmall--12 columns margin--bottom--none">
                <a href="/education/resources" class="text--white"><h2 class="blog__hero__title margin--bottom--none">Resources</h2></a>
            </div>
        </div>
    </div>
</div>