{% set author = craft.users.group('powerEdBlogUsers').search(craft.request.getLastSegment|replace({'-':' '})).first() %}
{% set blogHomepage = craft.entries.section('powerEdBlogHomepage').first() %}
{% set entry = author %}
{% extends '_layout' %}

{% block content %}

{% include 'blog/shared/_hero' %}

<section class="blog">

    <div class="container container--tight">

        <div class="row">

            <div class="l--small--9 columns blog__articleList">

                {% include 'blog/shared/_authorDescription' with {
                    'author': author,
                    'showAboutHeading': false,
                    'showArticlesByHeading': false
                } %}

                {% include 'blog/shared/_articleList' with {
                    'articles': craft.entries.section('powerEdBlog').authorId(author.id).orderBy('dateUpdated desc').all()
                } %}

                <div class="blog__promo__container">
                    {% set powerEdBlogPromo1Entry = blogHomepage.powerEdBlogPromo1.first() %}
                    {% include 'shared/content-block/layout/_customCSS' with {
                        'blocks': powerEdBlogPromo1Entry.contentBlocks
                    } %}
                    {% for block in powerEdBlogPromo1Entry.contentBlocks.level(1) %}
                        {% include 'shared/content-block/_content-block' with {
                            'block': block
                        } %}
                    {% endfor %}
                </div>
            </div>

            <div class="l--small--3 columns">

                {% include 'blog/shared/_sidebar_article_list' with {
                    'listTitle': 'By format',
                    'categorySlug': 'poweredBlogArticleFormats'
                } %}
                {% include 'blog/shared/_sidebar_article_list' with {
                    'listTitle': 'By topic',
                    'categorySlug': 'powerEdBlogArticleTopics'
                } %}
                {% include 'blog/shared/_sidebar_powered_authors' %}
                {% include 'blog/shared/_sidebar_newsletter_subscription' with {
                    'form': craft.sproutForms.form('poweredblogsubscription')
                } %}

            </div>
        </div>
    </div>

</section>

{% endblock %}