<div class="footer__sectionLinks">
  <span class="scale--base">
    CONTACT
  </span>
  <ul class="list--tight">
    <li>
      <a href="/global-distributor-network">
        Global Distributor Network
      </a>
    </li>
    <li>
      <a href="/about-us/contact-us">
        Contact Locator
      </a>
    </li>
  </ul>
</div>