<div class="interstitial">
  <div class="row">
    <div class="l--small--6 l--medium--4 columns l--noMargin">
      <div class="interstitial__svgWrapper">
        <img src="/assets/images/keiser-season-to-sweat.svg" alt="'Tis the season to sweat">
      </div>
    </div>
    <div class="l--small--6 l--medium--7 columns l--noMargin l--pullRight">
      <div class="interstitial__textWrapper">
        Buy our <strong>M3i Bike</strong> factory-direct and enjoy <strong>Free Shipping &amp; Gifts</strong>.
      </div>
      <div class="cta">
        <a href="https://shop.keiser.com/" target="_blank" class="button button--secondary">Buy Now</a>
      </div>
    </div>
  </div>
</div>
