<div class="tagline tagline--knockout">
  <div class="tagline__top">
    Because&nbsp;…
  </div>
  <div class="tagline__bottom">
    ‘Good
    <br />
    Enough’
    <br />
    Isn't.<sup class="tagline__trademark">&#8482;</sup>
  </div>
</div>
