#commerceProductContainer {
  padding-top: $verticalRhythm;

  @include respond-to(medium){
    padding-top: 0;
  }
}

.productFeature__icon {
  @include respond-to(small){
    max-width: 54px;
  }
}

.productFeature__text {
  margin-top: 0;

  @include respond-to(small){
    margin-top: 14px;
  }

  @include respond-to(medium){
    margin-top: 6px;
  }
}

.tShirtSize .productFeature__text {
  @include respond-to(small){
    margin-top: 4px;
  }

  @include respond-to(medium){
    margin-top: -8px;
  }
}

.standardAccessory__image {
  display: inline-block;
  vertical-align: middle;
}

.standardAccessory__image img,.suggestedAccessoryOptional__image img {
  @include respond-to(small){
    max-height: 300px;
  }
}

.standardAccessory__text {
  display: inline-block;
}

.standardAccessory__text__description p {
  margin-bottom: 0;
}

.tShirtSize__title,.clothingSize__title {
  @include respond-to(medium){
    display: inline-block;
  }
}

.tShirtSize__list__size,.tShirtSize__list__style {
  display: inline-block;
  list-style: none;
  @include respond-to(medium){
    margin-top: 10px;
  }
}

.tShirtSize__list__style__option {
  height: 32px;
  width: 32px;
  padding-top: 2px;
  display: inline-block;
  padding-left: 3px;
  padding-top: 2px;
  border: 2px solid $keiser--white;
}

.tShirtSize__list__size__option,
.clothingSize__list__size__option {
  height: 28px;
  margin-right: 4px;
  display: inline-block;
  padding: 4px;
  font-weight: $fontWeight--bold;
  border: 1px solid transparent; // used for active state.
  @include respond-to(medium){
    min-width: 28px;
  }
}

.clothingSize__list__size__option {
  color: $keiser--red;
}

.tShirtSize__list__size__option[data-option="xs"] {
  width: 30px;
}

#tShirtSize__list__style__option__mens__container {
  @include respond-to(medium){
    position: relative;
    top: 44px;
    left: -7px
  }
}

#tShirtSize__list__style__option__womens__container {
  margin-left: 2px;
  @include respond-to(medium) {
    position: relative;
    top: 7px;
    left: 25px;
  }
}

.tShirtSize__list__size {
  margin-left: 3px;
  margin-top: -10px;
  position: relative;
  top: -6px;
  @include respond-to(medium){
    top: 0px;
    margin-top: $gutter--narrow;
  }
}

.tShirtSize__list__style {
  margin-top: -20px;
  @include respond-to(medium){
    top: 2px;
    position: inherit;
    margin-top: -35px;
    margin-left: 10px;
    width: 56px;
  }
}

.tShirtSize__list__size__option.active,
.tShirtSize__list__size__option:hover,
.clothingSize__list__size__option.active,
.clothingSize__list__size__option:hover {
  color: $keiser--black;
  cursor: pointer;
}

.tShirtSize__list__size__option.active,
.clothingSize__list__size__option.active {
  border-color: $keiser--black;
}

.tShirtSize__list__size__option.disabled,
.clothingSize__list__size__option.disabled {
  color: $grey--light;
  text-decoration: line-through;

  &:hover{
    color: $grey--light;
    cursor: not-allowed;
  }
}

.tShirtSize__list__style__option.active,.tShirtSize__list__style__option:hover {
  cursor: pointer;
}

.tShirtSize__list__style__option.disabled:hover {
  cursor: not-allowed;
}

#tShirtSize__list__style__option__mens {
  width: 24px;
  height: 24px;
  background: url('/assets/images/sprites/men-women-icons.png') -10px -10px;
}

.tShirtSize__list__style__option.active #tShirtSize__list__style__option__mens,.tShirtSize__list__style__option:not(.disabled):hover #tShirtSize__list__style__option__mens {
  background: url('/assets/images/sprites/men-women-icons.png') -54px -10px;
}

#tShirtSize__list__style__option__womens {
  width: 24px;
  height: 24px;
  background: url('/assets/images/sprites/men-women-icons.png') -10px -54px;
}

.tShirtSize__list__style__option.active #tShirtSize__list__style__option__womens,.tShirtSize__list__style__option:not(.disabled):hover #tShirtSize__list__style__option__womens {
  background: url('/assets/images/sprites/men-women-icons.png') -54px -54px;
}

.tShirtSize__error {
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 3px $keiser--red;

  img {
    width: 32px;
    margin-right: 5px;
  }

  p {
    position: relative;
    top: -13px;
  }
}

#clothingSize__error {
  position: absolute;
  top: calc(100% + 10px);
  display: flex;
  align-items: center;
  padding: 8px;
  border: solid 1px $keiser--black;
  border-radius: 3px;
  background-color: $keiser--white;
  z-index: 10;

  &.is--hidden {
    display: none;
  }
}

.clothingSize__error__mark {
  position: absolute;
  color: $keiser--black;
  width: 19px;
  height: 19px;
  top: -10px;
  left: 10px;
}

.clothingSize__error__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  background-color: $keiser--red;
  color: white;
  margin-right: 8px;
}

#tShirtOptionsDivider {
  position: relative;
  top: -8px;
  left: 5px;
  margin-left: 5px;
  @include respond-to(medium){
    position: initial;
  }
}

.quantity {
  height: 40px;
  padding: 7px;
}

.quantity__subtract,.quantity__add {
  display: inline;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.quantity__add.disabled {
  cursor: not-allowed;
}

.quantity__counter {
  color: $black;
  position: relative;
  top: -1px;
}

#commerceProductContainer .quantityContainer {
  margin-top: 5px;
}

.suggestedAccessoryOptional .quantityContainer {
  margin-top: 5px;
}

.suggestedAccessoryOptional .quantity::selection {
  background: $white;
}

.suggestedAccessoryOptional {
  margin-bottom: $gutter--half
}

.suggestedAccessoryOptional__body__description p {
  margin-top: $gutter;
  margin-bottom: 0px;
  @include respond-to(medium){
    margin-top: 0px;
  }
}

img.loading--tailspin {
  display: inline;
  vertical-align: middle;
  width: 19px;
}

.proceedToCheckout a.button {
  width: 100%;
  text-align: center;
}

.addToCartContainer {
  margin-bottom: $gutter--narrow;
  @include respond-to(medium){
    margin-bottom: 0;
  }
}

.maxQtyAlert {
  @include respond-to(medium){
    padding-left: 0;
  }
}

#commerceProductPrice {
  margin-top: 52px;
  margin-bottom: $verticalRhythm--half;
}

$jumpLinkFirstLinkMargin : calc( (100% - 1170px)/ 2 );
$jumpLinkLastLinkWidth: calc(100% - (100% - 1170px)/2 - ((100%/12)));

.jumpLinkContainer {
  height: 84px;
  margin-left: auto;
  margin-right: auto;
  display: table;

  a {
    color: $keiser--white;
    display: table-cell;
    vertical-align: middle;
  }

}

.background--black.jumpLinkContainer.l--medium--2 {
  width: 20%;
}

.background--black.jumpLinkContainer.l--medium--3 {
  width: 25%;
}

.background--black.jumpLinkContainer.l--medium--4 {
  width: 32%;
}

#jumpLinkCTALink {
  width: 20%;
}

#jumpLinkFirstLink {
  margin-left: $jumpLinkFirstLinkMargin;
}

#jumpLinkLastLink {
  width: $jumpLinkLastLinkWidth;
  padding-right: $jumpLinkFirstLinkMargin;
  margin-bottom: 0;
  height: 84px;
}

#jumpLinkOuterContainer {
  margin-bottom: $verticalRhythm;
  height: 84px;
}

$productCtaBannerHeight: 75px;

$marginForProductCtaBannerCol1: calc( (100% - 960px)/ 2 );
$productCtaBannerCol2Width: calc(100% - (100% - 960px)/2 - (100%/12));

.productCtaBanner__col1 {
  margin-left: $marginForProductCtaBannerCol1;
  display:table;
  height: $productCtaBannerHeight;
  .productCtaBanner__col1__innerContainer {
    margin-top: 14px;
    h3,h2{
      margin: 0;
    }
  }
}

.productCtaBanner__col2 {
  width: $productCtaBannerCol2Width;
  height: $productCtaBannerHeight;
  padding-right: $marginForProductCtaBannerCol1;
  max-width: 100%;
  .productCtaBanner__col2__line1 {
    margin-bottom: 5px;
  }
}

.productCtaBanner__col2__line2:hover {
  text-decoration: underline;
}

.commerceProductPriceContainer {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -9px;
  @include respond-to(medium){
    top: 0px;
    vertical-align: bottom;
  }
}

.installationOptions {

  &__title {
    font-size: map-get($fontSizes, xXLarge);
  }

  &__option {

    &__border {
      padding-top: $verticalRhythm;
      border-top: 3px solid $keiser--red;
      @include respond-to(medium){
        border-left: 3px solid $keiser--red;
        border-top: none;
        padding-top: 0;
      }
    }

    img {
      max-height: 350px;
    }

  }

}

.productQuestionnaire {

  &__body {

     p {
       margin-bottom: 0;
     }
  }

}

.whiteGlove {

  &__checkbox {

    margin-top: $verticalRhythm;
    margin-bottom: $verticalRhythm;

    @include respond-to(medium){
      margin-top: $verticalRhythm--narrow;
      margin-bottom: 0;
    }

    &__label {
      font-size: map-get($fontSizes, base);
      margin-left: 3px;
      display: inline-block;
    }

    &__helperQueue {
      display: none;
      @include respond-to(medium){
        display: inline-block;
      }
    }
  }

  &__icon {
    img {
      max-width: 56px;
    }
  }

  &__label {

    p {
      line-height: 1.25em;
    }

    &__border {
      border-left: solid 1px $keiser--red;
    }

  }

  &__clickable {
    cursor: pointer;
  }

}

.productSpecsAndFeatures {

  &__dual {
    @include respond-to(medium){
      padding: 0;
    }
  }

}

.productInfo {

  &__image {
    max-width: 50px;
  }

  &__textBlock {
    @include respond-to(small){
      margin-left: 5px;
    }
  }

  &__number {
    position:relative;
    top: -6px;
  }

  &__imageBlock,&__callText {
    display: none;
    @include respond-to(small){
      display:inline-block;
    }
  }
}


.productPage__new {

  .commerceProductPriceContainer {
    position: relative;
    top: 6px;
  }

}

.productFeature__copy {
  p {
    margin-bottom: 0;
  }
}

.productOutOfStockMessage {
  p {
    margin-bottom: 0;
  }
}

.newJumpLink {
  height: 84px;

  &__jumpTo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__item {
    flex-basis: 156px;
  }

}

a.shopForHomeButton {
  max-width: 100%;
}

.product__features__getCommercialQuoteButton {
  @include respond-to(medium){
    padding-left: 15%;
  }
}

.product__features__getCommercialQuoteButton.product__features__getCommercialQuoteButton__dual {
  @include respond-to(medium){
    padding-left: 0;
  }
}