<div class="cart__header">
  <div class="row">
    <div class="l--6 columns l--noMargin">
      <abbr title="Item Description"><span>Desc</span></abbr>
    </div>

    <div class="l--2 columns l--noMargin">
      <abbr title="Item Price"><span>Price</span></abbr>
    </div>

    <div class="l--2 columns l--noMargin text--alignCenter">
      <abbr title="Quantity"><span>Qty</span></abbr>
    </div>

    <div class="l--2 columns l--noMargin">
      <div class="text--alignRight">
        <abbr title="Item Total"><span>Total</span></abbr>
      </div>
    </div>
  </div>
</div>
