{% extends '_layout' %}

{% block content %}
  {% cache %}

    <div class="background--black ihrsa2019__hero">
      <div class="container container--noPadTop container--noPadBottom">
        <div class="row">
          <div class="l--extraSmall--3 l--medium--4 columns">
            <img src="/assets/images/landing-pages/ihrsa-2019/keiser-5-in-1-advantage-logo.png">
          </div>
          <div class="l--extraSmall--9 l--medium--8 columns margin--bottom--none text--alignRight ihrsa2019__hero__title">
            <p class="ihrsa2019__hero__title__small margin--bottom--none text--greyLight">IS YOUR STRENGTH EQUIPMENT AREA</p>
            <p class="ihrsa2019__hero__title__large margin--top--none margin--bottom--none text--white">OPTIMIZED</p>
            <p class="ihrsa2019__hero__title__large margin--top--none margin--bottom--none text--white">FOR THE</p>
            <p class="ihrsa2019__hero__title__large margin--top--none margin--bottom--none text--white">ULTIMATE</p>
            <p class="ihrsa2019__hero__title__large margin--top--none margin--bottom--none text--white">ROI?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ihrsa2019__roi is--hidden is--visible--medium">
      <div class="display--inline--block ihrsa2019__roi__left">
        <div class="display--inline--block">
          <p class="ihrsa2019__roi__left__small text--black margin--bottom--none">SEE HOW YOU CAN GET</p>
          <div>
            <span class="text--white ihrsa2019__roi__left__xLarge">5</span>
            <span class="text--white ihrsa2019__roi__left__xLarge">X</span>
            <span class="text--white ihrsa2019__roi__left__xSmall">THE</span>
            <span class="text--white ihrsa2019__roi__left__xLarge">R</span>
            <span class="text--white ihrsa2019__roi__left__xLarge">O</span>
            <span class="text--white ihrsa2019__roi__left__xLarge">I</span>
          </div>
          <p class="text--white ihrsa2019__roi__left__large margin--bottom--none">OVER YOUR</p>
          <p class="text--white ihrsa2019__roi__left__large margin--bottom--none">CURRENT</p>
          <p class="ihrsa2019__roi__left__small text--black margin--bottom--none">STRENGTH EQUIPMENT</p>
        </div>
      </div>
      <div class="display--inline--block ihrsa2019__roi__divider">
        <img src="/assets/images/landing-pages/ihrsa-2019/column-border-triangle-right.svg">
      </div>
      <div class="display--inline--block text--alignRight ihrsa2019__roi__right">
        <div class="ihrsa2019__roi__right__1">
          <div class="display--inline--block left text--greyLight">
            <span>1</span>
          </div>
          <div class="display--inline--block right text--black">
            <span>TRADITIONAL</span>
          </div>
        </div>
        <div class="ihrsa2019__roi__right__2">
          <div class="display--inline--block left text--greyLight">
            <span>2</span>
          </div>
          <div class="display--inline--block right text--black">
            <span>SPEED</span>
          </div>
        </div>
        <div class="ihrsa2019__roi__right__3">
          <div class="display--inline--block left text--greyLight">
            <span>3</span>
          </div>
          <div class="display--inline--block right text--black">
            <span>POWER</span>
          </div>
        </div>
        <div class="ihrsa2019__roi__right__4">
          <div class="display--inline--block left text--greyLight">
            <span>4</span>
          </div>
          <div class="display--inline--block right text--black">
            <p class="margin--bottom--none">ECCENTRIC</p>
            <p class="margin--bottom--none">OVERLOAD</p>
          </div>
        </div>
        <div class="ihrsa2019__roi__right__5">
          <div class="display--inline--block left text--greyLight">
            <span>5</span>
          </div>
          <div class="display--inline--block right text--black">
            <span>HIIT</span>
          </div>
        </div>
      </div>
    </div>

    <div class="ihrsa2019__roi is--hidden--medium">
      <div class="background--red">
        <div class="ihrsa2019__roi__left padding--top padding--bottom">
          <p class="ihrsa2019__roi__left__small text--black margin--bottom--none">SEE HOW YOU CAN GET</p>
          <div>
            <span class="text--white ihrsa2019__roi__left__xLarge">5X</span>
            <span class="text--white ihrsa2019__roi__left__xSmall">THE</span>
            <span class="text--white ihrsa2019__roi__left__xLarge">ROI</span>
          </div>
          <p class="text--white ihrsa2019__roi__left__large margin--bottom--none">OVER YOUR</p>
          <p class="text--white ihrsa2019__roi__left__large margin--bottom--none">CURRENT</p>
          <p class="ihrsa2019__roi__left__small text--black margin--bottom--none">STRENGTH EQUIPMENT</p>
        </div>
      </div>
      <div class="ihrsa2019__roi__divider">
        <img src="/assets/images/landing-pages/ihrsa-2019/column-border-triangle-bottom.svg">
      </div>
      <div class="text--alignCenter ihrsa2019__roi__right">
        <div class="ihrsa2019__roi__right__1">
          <div class="display--inline--block left text--greyLight">
            <span>1</span>
          </div>
          <div class="display--inline--block right text--black">
            <span>TRADITIONAL</span>
          </div>
        </div>
        <div class="ihrsa2019__roi__right__2">
          <div class="display--inline--block left text--greyLight">
            <span>2</span>
          </div>
          <div class="display--inline--block right text--black">
            <span>SPEED</span>
          </div>
        </div>
        <div class="ihrsa2019__roi__right__3">
          <div class="display--inline--block left text--greyLight">
            <span>3</span>
          </div>
          <div class="display--inline--block right text--black">
            <span>POWER</span>
          </div>
        </div>
        <div class="ihrsa2019__roi__right__4">
          <div class="display--inline--block left text--greyLight">
            <span>4</span>
          </div>
          <div class="display--inline--block right text--black">
            <p class="margin--bottom--none">ECCENTRIC</p>
            <p class="margin--bottom--none">OVERLOAD</p>
          </div>
        </div>
        <div class="ihrsa2019__roi__right__5">
          <div class="display--inline--block left text--greyLight">
            <span>5</span>
          </div>
          <div class="display--inline--block right text--black">
            <span>HIIT</span>
          </div>
        </div>
      </div>
    </div>

    <div class="background--white fibo2018__specialities">
      <div class="container container--noPadBottom">
        <div class="row">
          <div class="l--medium--12 columns">
            <p>
              Capitalize on this unrivaled versatility and increase ROI with the Keiser 5 in 1 Advantage. Introduce your health club's members to:
            </p>
          </div>
        </div>
        <div class="row">
          <div class="l--extraSmall--2 l--medium--1 columns fibo2018__specialities__counterContainer">
            <img src="/assets/images/landing-pages/fibo-2018/1.png" />
          </div>
          <div class="l--extraSmall--10 l--medium--11 columns">
            <h3>TRADITIONAL (STRENGTH & MUSCLE BUILDING)</h3>
            <p>
              This is the same way you train on ordinary, iron-weight-based machines: explosive on the concentric phase and controlled on the eccentric phase.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="l--extraSmall--2 l--medium--1 columns fibo2018__specialities__counterContainer">
            <img src="/assets/images/landing-pages/fibo-2018/2.png" />
          </div>
          <div class="l--extraSmall--10 l--medium--11 columns">
            <h3>SPEED</h3>
            <p>
              By training fast through both the concentric and eccentric phases, you develop your muscles and neuromuscular system for maximum speed.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="l--extraSmall--2 l--medium--1 columns fibo2018__specialities__counterContainer">
            <img src="/assets/images/landing-pages/fibo-2018/3.png" />
          </div>
          <div class="l--extraSmall--10 l--medium--11 columns">
            <h3>POWER</h3>
            <p>
              Training for power pairs an explosive concentric phase with a controlled eccentric phase. It’s the key to athletic performance.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="l--extraSmall--2 l--medium--1 columns fibo2018__specialities__counterContainer">
            <img src="/assets/images/landing-pages/fibo-2018/4.png" />
          </div>
          <div class="l--extraSmall--10 l--medium--11 columns">
            <h3>ECCENTRIC OVERLOAD</h3>
            <p>
              Loading up on resistance in the eccentric phase increases muscle fatigue and stimulation, giving you greater strength gains in a shorter time. Keiser is the only strength equipment that allows you to safely perform eccentric overloading without a partner.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="l--extraSmall--2 l--medium--1 columns fibo2018__specialities__counterContainer">
            <img src="/assets/images/landing-pages/fibo-2018/5.png" />
          </div>
          <div class="l--extraSmall--10 l--medium--11 columns">
            <h3>HIGH-INTENSITY INTERVAL TRAINING (HIIT)</h3>
            <p>
              HIIT training against Keiser Dynamic Variable Resistance safely develops your muscular and cardiovascular efficiency simultaneously.
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="background--black ihrsa2019__comparison">
      <div class="container">
        <div class="row">
          <div class="l--extraSmall--5 columns text--alignCenter">
            <img class="equipment" src="/assets/images/landing-pages/ihrsa-2019/keiser-strength-equipment.png">
          </div>
          <div class="l--extraSmall--2 columns text--alignCenter ihrsa2019__comparison__vs">
            <p class="text--white margin--bottom--none large">VS</p>
          </div>
          <div class="l--extraSmall--5 columns text--alignCenter">
            <img class="equipment" src="/assets/images/landing-pages/ihrsa-2019/generic-strength-equipment.png">
          </div>
        </div>
        <div class="text--alignCenter margin--top">

          <div class="row ihrsa2019__comparison__border__bottom">
            <div class="l--extraSmall--3 columns margin--bottom--half">
              <p class="text--red margin--bottom--none heading">KEISER</p>
            </div>
            <div class="l--extraSmall--6 columns margin--bottom--half">
              <p class="text--white margin--bottom--none heading">TRAINING</p>
              <p class="text--white margin--bottom--none heading">METHOD</p>
            </div>
            <div class="l--extraSmall--3 columns margin--bottom--half">
              <p class="text--greyLight margin--bottom--none heading">WEIGHT</p>
              <p class="text--greyLight margin--bottom--none heading">STACK</p>
            </div>
          </div>

          <div class="row">
            <div class="l--extraSmall--3 columns margin--top--half">
              <p class="text--white margin--bottom--none">YES</p>
            </div>
            <div class="l--extraSmall--6 columns margin--top--half">
              <p class="text--white margin--bottom--none">TRADITIONAL</p>
            </div>
            <div class="l--extraSmall--3 columns margin--top--half">
              <p class="text--white margin--bottom--none">YES</p>
            </div>
          </div>

          <div class="row">
            <div class="l--extraSmall--3 columns">
              <p class="text--white margin--bottom--none">YES</p>
            </div>
            <div class="l--extraSmall--6 columns">
              <p class="text--white margin--bottom--none">SPEED</p>
            </div>
            <div class="l--extraSmall--3 columns">
              <p class="text--greyLight margin--bottom--none">NO</p>
            </div>
          </div>

          <div class="row">
            <div class="l--extraSmall--3 columns">
              <p class="text--white margin--bottom--none">YES</p>
            </div>
            <div class="l--extraSmall--6 columns">
              <p class="text--white margin--bottom--none">POWER</p>
            </div>
            <div class="l--extraSmall--3 columns">
              <p class="text--greyLight margin--bottom--none">NO</p>
            </div>
          </div>

          <div class="row">
            <div class="l--extraSmall--3 columns">
              <p class="text--white margin--bottom--none">YES</p>
            </div>
            <div class="l--extraSmall--6 columns">
              <p class="text--white margin--bottom--none">ECCENTRIC OVERLOAD</p>
            </div>
            <div class="l--extraSmall--3 columns">
              <p class="text--greyLight margin--bottom--none">NO</p>
            </div>
          </div>

          <div class="row">
            <div class="l--extraSmall--3 columns margin--bottom--half">
              <p class="text--white margin--bottom--none">YES</p>
            </div>
            <div class="l--extraSmall--6 columns margin--bottom--half">
              <p class="text--white margin--bottom--none">HIIT</p>
            </div>
            <div class="l--extraSmall--3 columns margin--bottom--half">
              <p class="text--greyLight margin--bottom--none">NO</p>
            </div>
          </div>

          <div class="row ihrsa2019__comparison__border__top">
            <div class="l--extraSmall--3 columns margin--top--half">
              <p class="text--white margin--bottom--none large">5</p>
            </div>
            <div class="l--extraSmall--6 columns margin--top--half">
            </div>
            <div class="l--extraSmall--3 columns margin--top--half">
              <p class="text--white margin--bottom--none large">1</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="background--black">
      <div class="container">
        <div class="row">
          <div class="l--medium--12 columns margin--bottom--none fibo2018__5in1Contact">
            <h2 class="text--uppercase margin--bottom--none">Contact a Keiser Rep To Learn More About</h2>
            <h2 class="text--uppercase text--red">The Keiser 5 in 1 Advantage Today</h2>
            <button v-on:click="openCommercialSalesSimplifiedModal()">Contact Us</button>
          </div>
        </div>
      </div>
    </div>

    <div class="background--darkGrey ihrsaGuarantee__statusQuo">
      <div class="container">
        <div class="row">
          <div class="l--medium--6 columns">
            <h2 class="margin--bottom--none">KEISER <span class="text--red">VS</span></h2>
            <h2 class="ihrsaGuarantee__statusQuo__title__grey">THE STATUS QUO</h2>
            <p>
              Watch our video to learn the benefits of Keiser pneumatic-resistance machines when compared to traditional
              iron resistance strength training.
            </p>
            <a href="/science" class="button">LEARN MORE</a>
          </div>
          <div class="l--medium--6 columns text--alignRight">
            <div class="imageVideo">
              <div class="imageVideo__image">
                <img src="/assets/images/landing-pages/ihrsa-2018/keiser-vs-status-quo-thumbnail.png">
              </div>
              <div class="imageVideo__buttonOverlay" v-on:click="openModal('video-keiser-vs-status-quo')"></div>
            </div>
            <vue-modal :show.sync="showModal" :active-modal="activeModal" name="video-keiser-vs-status-quo">
              <h3 slot="header">
                KEISER vs THE STATUS QUO
              </h3>
              <div class="videoEmbed" slot="body" v-html.literal='<iframe width="560" height="315" src="https://www.youtube.com/embed/NUPAJAJPRyo?rel=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>'>
              </div>
            </vue-modal>
          </div>
        </div>
      </div>
    </div>

    {% include 'about/contact-us/modals/_commercialSalesSimplified' %}
    {% include 'about/contact-us/modals/_commercialSales' %}
    {% include 'about/contact-us/modals/_customerSupport' %}
  {% endcache %}
{% endblock %}
